*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body*/
body{
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: rgb(204, 209, 209);
}

/* color fuente*/
h2, h3, h4, h5, li, p{
  color: black;
}


/*estilos servicio técnico*/
.container-prueba{
  display: flex;
  margin-top: 200px;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-prueba img{
  height: 100%;
  width: 100%;
}
.container-prueba h4{
  margin: 15px auto;
  font-weight: bold;
}

.info-servicio{
  margin: 200px auto;
  display: flex;
  flex-flow: column wrap;
  text-align: center;
}
.info-servicio div{
  padding: 5px;
  margin: 10px;
  background-color: white;
  box-shadow: 4px 4px 8px;
}
.info-servicio div h3{
  font-weight: bold;
}

.formulario{
  margin: 200px auto;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.formulario h5{
  font-size: x-large;
  font-weight: bold;
}

/* propiedades bootstrap*/
  .info-1{
    margin: 190px 10px;
  }
  .info-1 h3{
    font-weight: bold;
  }
  .info-1 div img{
    height: 400px;
  }
  .card-group{
    margin: 100px 10px;
  }
  .info-2{
    margin: 100px 0;
  }
  .info-2 h5{
    font-size: x-large;
    font-weight: bold;
  }
  .info-2 .cartas{
    box-shadow: 3px 3px 10px;
  }
  .info-3{
    margin: 100px 0;
  }
  .info-3 .cartas-2{
    margin: 50px 0;
    background-color: rgba(160, 151, 151, 0.438);
  }
  .cartas{
    margin: 10px;
  }


/*logo*/
.img-logo{
  height: 25%;
  width: 25%;
}

/*footer*/
footer{
  margin-top: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: #002B5B; 
  font-size: 15px;
}
footer div{
  margin: 20px 0px;
}
footer ul{
  list-style-type: none;
}
footer div img{
  margin-bottom: 0;
  height: 20px;
  width: 20px;
}

/*estilos index*/
/*info productos*/
.info-productos{
  width: 100%;
  background-color: white;
  justify-content: center;
  text-align: center;
  margin: 150px 0 200px 0;
  display: flex;
  flex-flow: column wrap;
  border-bottom: 2px solid black;
}
.info-productos div h5{
  font-weight: bold;
}
.info-productos div img{
  width: 250px;
}
.info-productos div ul li{
  list-style-type: none;

}
.info-productos div span{
  font-weight: bold;
}

/*contenedor*/
.contenedor{
  justify-content: center;
  align-content: center;
}
.info-ventas{
  border-bottom: 2px solid black;
}
.info-ventas p{
  padding: 10px;
  background-color: #002B5B;
  color: white;
  margin-bottom: 0;
}
.productos-1{
  margin: 100px auto;
  padding: 10px;
}
.productos-1 div{
  width: 70%;
  height: 350px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 2px 4px 6px;
}
.productos-1 div span{
  margin: auto;
  font-weight: bold;
}
.productos-1 div button{
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}
.productos-1 div img{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;   
}

.productos-2{
  margin: 100px 0;
  padding: 10px; 
}
.productos-2 div{
  width: 70%;
  height: 350px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 2px 4px 6px;
}
.productos-2 div span{
  margin: auto;
  font-weight: bold;
}
.productos-2 div button{
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}
.productos-2 div img{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;   
}
.productos-3{
  margin: 100px auto;
  padding: 10px;
}
.productos-3 div{
  width: 70%;
  height: 350px;
  margin: 1rem auto;
  display: flex;
  flex-flow: column wrap;
  box-shadow: 2px 4px 6px;
}
.productos-3 div span{
  margin: auto;
  font-weight: bold;
}
.productos-3 div button{

  width: 100px;
  margin: auto;
  margin-bottom: 10px;
}
.productos-3 div img{
  border: 1px solid black;
  width: 100px;
  height: 100px;
  margin: auto;
  position: relative;   
}


/*cajas*/
.cajas{
  margin: 50px auto 200px auto;
  height: 700px;
  width: auto;
  grid-template-columns: 1fr;
  background-color: rgba(255, 255, 255, 0.308);
  border: 1px solid black;
  
}
.cajas div{
  margin: 15px;
  padding: 15px;
  border: 1px solid black;
}
.cajas div img{
  display: inline-block;
  width: 50px;
  height: 50px;
}


/*estilos media queries*/
@media screen and (min-width:400px) {
  .contenedor{
    display: grid;
    grid-template-areas: 
    "productos-1 productos-1"
    "productos-2 productos-2"
    "productos-3 productos-3"
    "cajas cajas"
    ;
   }
   .info-productos{
    margin-top: 190px;
   }
   .info-productos div ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .info-productos div img{
    width: 50%;
  }
  .productos-1{
    display: grid;
    grid-area: productos-1;
    grid-template-columns: 1fr 1fr;
  }
  .productos-1 div{
    height: 500px;
    width: 90%;
  }
  .productos-1 div img{
    height: 40%;
    width: 80%;
  }
  .productos-2{
      display: grid;
      grid-area: productos-2;
      grid-template-columns: 1fr 1fr;
  }
  .productos-2 div{
    height: 500px;
    width: 90%;
  }
  .productos-2 div img{
    height: 40%;
    width: 80%;
  }
  .productos-3{
    display: grid;
    grid-area: productos-3;
    grid-template-columns: 1fr 1fr;
  }
  .productos-3 div{
    height: 500px;
    width: 90%;
  }
  .productos-3 div img{
    height: 40%;
    width: 80%;
  }

  footer ul, div{
      font-size: 20px;
  }
  footer div img{
    height: 50px;
    width: 50px;
  }
  .cajas{
    display: grid;
    grid-area: cajas;
    height: 900px;
    width: 70%;
  }
  /*propiedades servicio*/
  .container-prueba{
    display: grid;
    grid-row: 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

}
@media screen and (min-width:500px) {
  .info-productos{
    margin-top: 150px;
   }
  .productos-1 div img{
    height: 45%;
  }
  .productos-2 div img{
    height: 45%;
  }
  .productos-3 div img{
    height: 45%;
  }
  .cajas{
    width: 50%;
  }
}

@media screen and (min-width:699px) {
  .info-productos{
    margin-top: 110px;
  }

  .formulario{
    width: 80%;
  }
}

@media screen and (min-width:750px) {
  /*estilos index*/
  .info-productos div img{
    width: 70%;
    height: 400px;
  }
  .carrusel{
    height: 50%;
    width: 50%;
    margin-left: 20%;
  }
  .contenedor{
    display: grid;
    grid-template-areas: 
    "productos-1"
    "productos-2"
    "productos-3"
    "cajas"
    ;
   }
  .productos-1{
      grid-template-columns: 1fr 1fr 1fr;
  }
  .productos-2{
      grid-template-columns: 1fr 1fr 1fr;
  }
  .productos-3{
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*cajas*/
  .cajas{
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 700px;
  }

  /*aside*/
  aside img{
    height: 200px;
    width: 700px;
  } 
  /*footer*/
  footer{
    width: 100%;
    font-size: 20px;
  }

  /*propiedades servicio*/
  .info-servicio{
    margin: 200px 20px;
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr;
    column-gap: 10px;
  }
  .container-prueba .pruebita-2{

  }
  .container-prueba .pruebita{
    margin-top: 1000px;
  }

  /*propiedades transform*/
  main div div img{
    transition: 2s;
  }   
  main div div img:hover{
    transform: scale(1.2);
  }
  main div div button:hover{
    transform: scale(0.9);
  }
  nav ul li:hover{
    transform: scale(0.9);
  }
  main div div button:hover{
    transform: scale(0.9);
  }
  header nav ul li:hover{
    transform: scale(0.9);
  }
  footer div img{
    transition: 2s;
  }
  footer div img:hover{
    transform: scale(1.2);
  }
}

@media screen and (min-width:1024px) {
  .info-1 div{
    margin: 100px 50px ;
  }
  .info-1 div img{
    height: 500px;
  }
  .productos-1 div{
    width: 70%;
  }
  .productos-1 div img{
    width: 60%;
  }
  .productos-2 div{
    width: 70%;
  }
  .productos-2 div img{
    width: 60%;
  }
  .productos-3 div{
    width: 70%;
  }
  .productos-3 div img{
    width: 60%;
  }

  /*estilos servicio*/
  .formulario{
    width: 40%;
  }
}


